@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.prose pre { border-left: 4px solid rgb(16 185 129); padding-left: 1rem; overflow-x: auto; }

.prose img { display: block; margin: 2rem auto; border-radius: 0.5rem; box-shadow: 0 4px 12px rgb(0 0 0 / .1); }

.prose table { display: block; overflow-x: auto; }